@media screen and (max-width:576px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-text {
        width: 100%;
    }

    .banner-text h1 {
        font-size: 2.25rem;
        width: 80%;
    }

    .banner-text p {
        font-size: 1rem;
        width: 77%;
    }

    .banner-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .banner-buttons button {
        padding: .5rem 1.5rem;
        font-size: .9rem;
        width: 50%;
        height: 3rem;
    }

    #two {
        display: none;
    }

    .banner-image {
        margin-left: 2rem;
    }

    .circle i {
        display: block;
    }

    .hover .extra {
        backdrop-filter: blur(.5rem);
    }

    .hover .five {
        top: 10%;
    }

    .three {
        bottom: 35%;
    }

    .extra #four {
        font-size: 1.8rem;
    }

    .extra #three {
        font-size: 1.15rem;
    }

    .extra .four {
        font-size: 0.6rem;
    }

    .img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .text-container {
        width: 90%;
    }

    .text-container h1 {
        font-size: 2rem;
    }

    .run-an-extra {
        flex-direction: column;
    }

    .run-an-extra .text-container-two {
        width: 85%;
        margin: 2rem 2rem;
    }

    .text-container-two h1 {
        font-size: 2rem;
    }

    .text-container-two p {
        margin-bottom: 1.5rem;
    }

    .text-container-two button {
        width: 100%;
        padding: .7rem 1.7rem;
        font-size: .9rem;
    }

    .run-an-extra .img-container-two {
        width: 85%;
        margin: 1.5rem 1rem;
    }

    .img-container-three{
        grid-template-columns: repeat(1, 1fr);
    }

    #invisible-one,#invisible-two{
        display: none;
    }

}