@media screen and (max-width:576px) {
    .nav-links{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-text{
        width: 100%;
    }
    #two{
        display: none;
    }
}