@media screen and (max-width:576px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-text {
        width: 100%;
    }

    .banner-text h1 {
        font-size: 2.25rem;
        width: 80%;
    }

    .banner-text p {
        font-size: 1rem;
        width: 77%;
    }

    .banner-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .banner-buttons button {
        padding: .5rem 1.5rem;
        font-size: .9rem;
        width: 50%;
        height: 3rem;
    }

    #two {
        display: none;
    }

    .banner-image {
        margin-left: 2rem;
    }

    .circle i {
        display: block;
    }

    .hover .extra {
        backdrop-filter: blur(.5rem);
    }

    .hover .five {
        top: 10%;
    }

    .three {
        bottom: 35%;
        left: -10%;
    }

    .extra #four {
        font-size: 1.8rem;
    }

    .extra #three {
        font-size: 1.15rem;
    }

    .extra .four {
        font-size: 0.6rem;
    }

    .img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .text-container {
        width: 90%;
    }

    .text-container h1 {
        font-size: 2rem;
    }

    .run-an-extra {
        flex-direction: column;
    }

    .run-an-extra .text-container-two {
        width: 85%;
        margin: 2rem 2rem;
    }

    .text-container-two h1 {
        font-size: 2rem;
    }

    .text-container-two p {
        margin-bottom: 1.5rem;
    }

    .text-container-two button {
        width: 100%;
        padding: .7rem 1.7rem;
        font-size: .9rem;
    }

    .run-an-extra .img-container-two {
        width: 85%;
        margin: 1.5rem 1rem;
    }

    .img-container-three {
        grid-template-columns: repeat(1, 1fr);
    }

    #invisible-one,
    #invisible-two {
        display: none;
    }

    .box,
    .smaller-box-two {
        flex-direction: column;
    }

    .box-in-a-box,
    .smaller-box-one,
    .smaller-box-two {
        width: 100%;
    }

    /* .bmi-desc,
    .nav,
    .banner-container,
    .change-habits,
    .run-an-extra,
    .meet-our-team,
    .box,
    hr,
    .main-container {
        width: 89.6%;
    } */

    .bmi-desc {
        width: 75%;
    }

    .bmi-desc h1 {
        font-size: 2rem;
    }

    .main-container {
        flex-direction: column;
    }

    .secondary-container-one,
    .secondary-container-two {
        width: 100%;
    }

    .secondary-container-one h3,
    .secondary-container-two h3 {
        font-size: 1rem;
    }

    .secondary-container-one h3 {
        margin-bottom: 1.45rem;
    }

    .secondary-container-one {
        margin-bottom: 2.625rem;
    }

    input {
        width: 42%;
    }

    #sex {
        width: 47%;
    }

    #activity {
        width: 97%;
    }

    th {
        font-size: .9rem;
    }

}