@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

/* font-family: 'Miama', sans-serif; */

/* shared style */

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: black;
}

/* banner-section */
/* nav-section */
.header {
    padding-top: 3.5rem;
    background: linear-gradient(to bottom,
            rgba(119, 119, 119, 0),
            rgb(17, 17, 17),
            rgba(119, 119, 119, 0));
}

nav {
    width: 75%;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.brand {
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 2.25rem;
    background-color: transparent;
}

.nav-links {
    width: 45%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.45rem;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.nav-links button {
    font-size: 1.15rem;
    color: rgb(255, 255, 255);
    border: none;
    font-weight: 400;
    cursor: pointer;
    background-color: transparent;
}

.nav-links .btn {
    border-radius: 2.8rem;
    background-color: rgb(230, 83, 60);
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    font-weight: 600;
}

.nav-links .end {
    margin-right: 0.6rem;

}

.hamburger {
    display: none;
}

/* banner-section */
.banner-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    background-color: transparent;
}

.banner-text {
    width: 50%;
    height: fit-content;
    background-color: transparent;
}

.banner-text h1 {
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
    background-color: transparent;
}

#one {
    font-family: 'Miama', sans-serif;
    font-style: italic;
    font-weight: 400;
    display: inline-block;
    background-color: transparent;
}

.banner-text p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 1.75rem;
    background-color: transparent;
}

.banner-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}

.banner-buttons button {
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 2.6rem;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    font-size: 1.15rem;
    font-weight: 600;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-top: 1.75rem;
    background-color: transparent;
}

#two {
    background: rgb(230, 83, 60);
}

.banner-buttons .btn {
    border: 2px solid rgb(230, 83, 60);
    background: rgb(230, 83, 60);
    margin-right: 0.8rem;
}

.banner-image {
    background-color: transparent;
    position: relative;
}

.banner-image img {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.hover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover .extra {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;
    backdrop-filter: blur(1rem);
    background-color: rgba(48, 48, 48, 0.54);
}

.hover .five {
    position: absolute;
    top: 30%;
    right: 0%;
    padding: 1rem;
}

.extra #three {
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
    background: transparent;
}

.extra #four {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
    background: transparent;
}

.extra .four {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
    background: transparent;
}

.three {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: -20%;
    padding: 1rem;
}

.circle {
    width: 2rem;
    height: 2rem;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    border: none;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle i {
    display: none;
    background: transparent;
}

.first {
    background: transparent;
}

/* change-habits */
.change-habits {
    width: 75%;
    margin: 6.25rem auto;
}

.text-container {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.375rem;
}

.text-container h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 0.8rem;
}

.text-container p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.img-container {
    width: calc(100% - 2rem);
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 1rem;
    text-align: center;
}

.img-container img {
    border-radius: 50%;
    width: 100%;
    border: 3px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 1.8rem;
}

.img-container h5,
.text h5 {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 0.375rem;
}

.img-container p,
.text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 18px;
}

/* run an extra mile */
.run-an-extra {
    width: 75%;
    margin: 0 auto;
    border-radius: 1.15rem;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.25rem;
}

.run-an-extra .text-container-two {
    width: 35%;
    background: transparent;
    margin: 2.5rem auto;
    margin-left: 3.375rem;
}

.text-container-two h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    background: transparent;
    margin-bottom: 0.8rem;
}

.text-container-two p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5rem;
    background: transparent;
    margin-bottom: 2.15rem;
}

.text-container-two button {
    padding: 1rem 2.5rem 1rem 2.5rem;
    background: rgb(230, 83, 60);
    border-radius: 2.6rem;
    box-sizing: border-box;
    border: none;
    font-size: 1.15rem;
    font-weight: 600;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.run-an-extra .img-container-two {
    width: 35%;
    margin: 1.875rem 2rem;
    border-radius: 1.15rem;
    background: transparent;
}

.img-container-two img {
    width: 100%;
    border-radius: 1.15rem;
    object-fit: none;
    object-position: 65% 30%;
}

/* meet our team */

.meet-our-team {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 6.25rem;
}

.img-container-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    justify-items: center;
    border-radius: 1.15rem;
    background: rgba(255, 255, 255, 0.1);
}

.img-container-three .trainer-container {
    width: 100%;
    background: transparent;
    margin: 0 1rem;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

.trainer-container img {
    width: 100%;
    height: 100%;
    border-radius: 1.15rem;
    background: rgba(0, 0, 0, 0.2);
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.text {
    position: absolute;
    bottom: 0%;
    left: 0%;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    background: transparent;
}

.text h5,
.text p {
    background: transparent;
}

/* footer */

footer {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.box {
    width: 75%;
    height: fit-content;
    margin: 4.5rem auto;
    display: flex;
    justify-content: space-between;
    background: transparent;
}

.smaller-box-one {
    width: 50%;
    margin-top: 4.5rem;
    background: transparent;
}

.smaller-box-two {
    width: 50%;
    margin-top: 4.5rem;
    display: flex;
    justify-content: space-between;
    background: transparent;
}

hr {
    width: 75%;
    margin: 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: transparent;
}

.rights {
    margin-top: 2.25rem;
    padding-bottom: 2.25rem;
    background: transparent;
}

#rights {
    text-align: center;
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
}

#big-brand {
    font-size: 4.375rem;
    background: transparent;
    margin-bottom: 1.25rem;
}

.box-in-a-box {
    width: 86%;
    background: transparent;
}

.box-in-a-box p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5rem;
    background: transparent;
}

.smallest-box {
    background: transparent;
}

.smallest-box h3 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 2.45rem;
    background: transparent;
}

.smallest-box p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.45rem;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 1.25rem;
    background: transparent;
    cursor: pointer;
}

/* bmi-desc */
.bmi-desc {
    width: 46.5%;
    margin: 0 auto;
    margin-bottom: 6.25rem;
}

.bmi-desc h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 0.875rem;
}

.bmi-desc p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
}

/* BMI */
.bmi {
    width: 100%;
    background: rgb(34, 34, 34);
    margin-bottom: 6.25rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.main-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: transparent;
}

.secondary-container-one {
    width: 50%;
    background: transparent;
}

.secondary-container-one h3,
.secondary-container-two h3 {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 120%;
    background: transparent;
}

.secondary-container-one h3 {
    margin-bottom: 3.25rem;
}

.secondary-container-two h3 {
    margin-bottom: 0.875rem;
}

.secondary-container-two p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    background: transparent;
    margin-bottom: 2.125rem;
    width: 95%;
}

.secondary-container-two {
    width: 50%;
    background: transparent;
}

table {
    border-collapse: collapse;
    background: rgb(34, 34, 34);
}

td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.8rem 1.5rem;
    background: rgb(34, 34, 34);
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 120%;
}

th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem 1.5rem;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    background: rgb(34, 34, 34);
}

input {
    color: rgba(255, 255, 255, 0.6);
    width: 45.5%;
    height: 3rem;
    border: none;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    margin: 0.3rem 0.3rem 0.3rem 0;
    padding-left: 1rem;
}

#sex,
#activity {
    color: rgba(255, 255, 255, 0.6);
    width: 48%;
    height: 3rem;
    border: none;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    margin: 0.3rem 0.3rem 0.3rem 0;
    padding-left: 0.635rem;
    border-right: 0.635rem solid transparent;
}

#activity {
    width: 98%;
    margin-bottom: 2rem;
}

option {
    width: 100%;
    border: none;
    border-radius: .5rem;
    background-color: gray;
    color: lightgray;
    font-size: 1rem;
    margin: 0.3rem;
}

form,
.input-field,
label {
    background: transparent;
}

.bmi-btn {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.375rem;
    border-radius: 2.625rem;
    background: rgb(230, 83, 60);
    border: none;
    padding: 1rem 2.5rem 1rem 2.5rem;
    cursor: pointer;
}

/* our-packages */

.our-packages {
    width: 100%;
    margin-bottom: 6.25rem;
}

.original-container {
    width: 75%;
    margin: 0 auto;
    border-radius: 1.15rem;
}

.card-desc-container {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 3.375rem;
    text-align: center;
}

.card-desc-container h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 0.875rem;
}

.card-desc-container p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 0.875rem;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: rgb(34, 34, 34);
    border-top-left-radius: 1.15rem;
    border-top-right-radius: 1.15rem;
}

.card-1,
.card-2,
.card-3 {
    width: calc(30% - 2rem);
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.15rem;
    box-shadow: 1rem 1rem 2rem black;
}

.card-1 h2,
.card-2 h2,
.card-3 h2,
.additional-considerations h2 {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 0.875rem;
    background: transparent;
}

.card-1 p,
.card-2 p,
.card-3 p,
.card-1 li,
.card-2 li,
.card-3 li,
.additional-considerations p,
.additional-considerations li {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 0.875rem;
    background: transparent;
}

ul {
    border-left: 1rem solid transparent;
    background: transparent;
}

.additional-considerations {
    width: calc(100% - 2rem);
    margin: 0 auto;
    padding: 1rem;
    background: rgb(34, 34, 34);
    border-bottom-right-radius: 1.15rem;
    border-bottom-left-radius: 1.15rem;
}