@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

/* font-family: 'Miama', sans-serif; */

/* shared style */

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: black;
}
/* banner-section */
/* nav-section */

nav {
    width: 75%;
    height: fit-content;
    margin: 3.5rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .brand {
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 2.25rem;
}

.nav-links {
    width: 45%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.45rem;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links button {
    font-size: 1.15rem;
    color: rgb(255, 255, 255);
    border: none;
    font-weight: 400;
    cursor: pointer;
}

.nav-links .btn {
    border-radius: 2.8rem;
    background-color: rgb(230, 83, 60);
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    font-weight: 600;
}

.nav-links .end {
    margin-right: 0.6rem;

}

.hamburger{
    display: none;
}

/* banner-section */
.banner-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
}

.banner-text {
    width: 50%;
    height: fit-content;
}

.banner-text h1 {
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
}

#one {
    font-family: 'Miama', sans-serif;
    font-style: italic;
    font-weight: 400;
    display: inline-block;
}

.banner-text p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 1.75rem;
}

.banner-buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.banner-buttons button{
    border: none;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 2.6rem;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.15rem;
    font-weight: 600;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-top: 1.75rem;
}

#two{
    background: rgb(230, 83, 60) ;
}
.banner-buttons .btn {
    background: rgb(230, 83, 60);
    margin-right: 0.8rem;
}
.banner-image img{
    width: 100%;
    height: 100%;
}